.ts-dropdown-content {
    max-height: 300px;
}

/* Use the theme's primary color as box-shadow colour */
.plugin-dropdown_input.focus .ts-dropdown .dropdown-input {
  border: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.focus .ts-control {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.ts-wrapper.multi .ts-control > div.active {
    background: var(--bs-primary);
    color: #fff;
}

.edit {
    border-left: 1px solid #dee2e6;
    padding: 0 5px;
    margin-left: 5px;
}

.edit:hover {
  background: rgba(0, 0, 0, 0.05);
}

.edit ~ .remove {
  margin-left: 0 !important;
}