Django==5.2.3
coverage==7.9.0
tox==4.26.0
pytest==8.4.0
pytest-django==4.11.1
pytest-xdist==3.7.0
pytest-cov==6.2.1
pytest-playwright==0.7.0
playwright==1.52.0
ruff==0.11.13
build==1.2.2.post1
twine==6.1.0
factory_boy==3.3.3