# Note that this is the coverage config for non-tox test runs.
# tox takes its coverage config from pyproject.toml.
[run]
branch = True
source = mizdb_tomselect
disable_warnings = module-not-measured

[paths]
source =
    src/
    .tox/*/site-packages
